<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/buyer.css">
    <title>Document</title>
</head>
<body>
    <div class="search-container">
        <input type="text" class="search-bar" placeholder="Search for products...">
        <ul class="suggestions">
            <li class="suggestion-item">toyoto</li>
            <li class="suggestion-item">bike</li>
            <li class="suggestion-item">Sonata watch </li>
        </ul>
    </div>
        <div class="car">
            <img src="/css/img/toyota.imd1.jpg" alt="Toyota Car 1">
            <div class="car-details">
                <h1>Toyota Model 1</h1>
                <p>Price: $25,000</p>
                <p>Year: 2022</p>
                <p>KM: 10,000</p>
                <p>Name: John Doe</p>
                <p>Place:chennai</p><p>3 days ago</p>
            </div>
            <button class="buy-now-btn" onclick="buyNow('toyota')">Buy Now</button>
            
        

        </div>
    </div>
    <div class="watch-container">
        <div class="watch">
            <img src="/css/img/watch img.1.jpg" alt="Sonata Watch 1">
            <div class="watch-details">
                <h2>Sonata Watch Model 1</h2>
                <p>Rate: $100</p>
                <p>Name: charlie</p>
                <p>Place: Chennai</p>
                <p>Yesteraday</p>
                <button class="buy-now-btn" onclick="buyNow('watch')">Buy Now</button>
            

            </div>
            
        </div>


</body>

</html>

    
</body>
</html>